body {
	font-family: Arial;
	font-size: 16px;
	line-height: 1.5;
	
	background-color: #b9fad273;
	color: #e0c0f5;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 620px;
}

a {
color: #aacfff
}

b
{color: #1eca27

}

c {
margin: 20px 40px 20px 40px;
margin-top: 20px;

}

Section {
height: 50px;
}



h1 {
	font-size: 24px;
	font-weight: 700;
}



header { position: fixed;
top: 20px
}

nav {

padding: 20px 40px 20px 40px;




} 

#nav ul {
    display: inline-block;
    list-style-type: none;
}

nav a {
color:#e0c0f5;
text-decoration: none;
margin-right: 10px  ;
}

nav a:hover{
	color: #cb9cf7;


}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


footer { position: fixed;
bottom: 20px
 20px
}

footer a { 
margin-right:100px 

;}

a:hover{ 
color: cadetblue 
}
